/*

TubeShift is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

TubeShift is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

*/

.setting h1,h2,h3,h4,h5,h6 {
    display: inline;
}

.alert {
    background-color: salmon;
}

.host-permission-setting .disabled-warning {
    font-weight: bold;
    display: none;
}

.alert.host-permission-setting .disabled-warning {
    display: initial;
}
